// Imports
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
// Fonts
$font-heading: Poppins,
sans-serif;
$font-paragraph: Poppins,
sans-serif;
$font-buttons: Poppins,
sans-serif;
$font-nav: Poppins,
sans-serif;
// Whites
$white: #efefef;
$pure-white: #ffffff;
// Blacks
$black: #212121;
$pure-black: #000;
// Colors
$blue:#0034a3;
$red:#cc003d;
// Variables
$body-bg: $white;
$primary: $blue;
$secondary: $red;