@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700:400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, rgba(120, 188, 255, 0.06), rgba(215, 233, 255, 0.04));
}

.preloader-container {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 25vh;
    padding-bottom: 25vh;

}

.svg-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
}

.preloader-container svg.boxed {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.13), 0 10px 10px rgba(0, 0, 0, 0.11);
}

ul {
    list-style: none;
    text-align: left;
    margin-top: 30px;
    padding-left: 0;
}

li.heading {
    font-weight: bold;
}

.lines .path {
    fill: none;
    stroke: #222;
    stroke-width: 3;
}


/* Preloader demo */
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100px + 10vw);
}