// Header
header {
    &.home {
        height: 100vh;
        width: 100vw;

        svg {
            max-width: 50vw;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            height: 30vh;

            @include breakpoint(mobileonly) {
                max-width: 70vw;
            }

            .purple-dot {
                fill: #6767ff;
                animation: lower 5s ease infinite;
            }

            .red-dot {
                fill: #ff0045;
                animation: lower 5s ease infinite;
            }

            .blue-dot {
                fill: #b1d5ff;
                animation: raise 5s ease infinite;
            }

            @keyframes raise {
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(-20px);
                }

                100% {
                    transform: translateY(0px);
                }
            }

            @keyframes lower {
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(20px);
                }

                100% {
                    transform: translateY(0px);
                }
            }
        }

        p {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 62%;
            left: 50%;

            @include breakpoint(mobileonly) {
                top: 57%;
            }

            &:hover {
                i {
                    left: 15px;
                }
            }

            i {
                font-size: 1.3em;
                @include transition(all .3s ease);
                position: relative;
                top: 3px;
                left: 5px;
            }
        }
    }
}

.ball {
    @include border-radius(50%);
    height: 200px;
    width: 200px;
    position: absolute;
    animation: fade-in 1.5s ease;
    animation-delay: .4s;
    animation-fill-mode: forwards;
    opacity: 0;

    @include breakpoint(mobileonly) {
        display: none;
    }
}

.violet-ball {
    @include gradient(60deg, $violet);
    bottom: -100px;
    left: -100px;
}

.sky-ball {
    @include gradient(60deg, $sky);
    top: -100px;
    left: calc(50% - 100px);
}

.flame-ball {
    @include gradient(60deg, $flame);
    bottom: -100px;
    right: -100px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}