nav {
    width: 90vw;
    padding: 60px 5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    @include breakpoint(mobileonly) {
        padding: 20px 15px;
        width: calc(100vw - 30px);
        background: $body-bg;
    }

    ul {
        list-style-type: none;

        .flex {
            @extend %flexbox;
            align-items: center;
            justify-content: space-between;
        }

        li {
            display: inline;

            a.logo img {
                width: calc(20px + 3vw);

                @include breakpoint(mobileonly) {
                    width: calc(20px + 10vw);
                }
            }

            a {
                position: relative;
                font-family: $font-nav;
                text-decoration: none;
                color: $pure-black;
                margin-left: 30px;
                margin-right: 30px;
                font-size: 15px;
                @include transition(all 0.3s ease);

                @include breakpoint(mobileonly) {
                    &:not(.logo) {
                        margin-right: 15px;
                        margin-left: 15px;
                    }

                    margin-left: 0;
                    margin-right: 0;
                }

                &:focus,
                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                }

            }
        }
    }
}