// General section
section {
  padding-top: 25vh;
  padding-bottom: 25vh;

  h1 {
    font-size: calc(30px + 3vw);
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    &::before {
      content: "";
      height: 150px;
      width: 150px;
      @include border-radius(50%);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &.violet::before {
      @include gradient(60deg, $violet);
    }

    &.flame::before {
      @include gradient(60deg, $flame);
    }

    &.sky::before {
      @include gradient(60deg, $sky);
    }
  }

  p,
  a {
    line-height: 25px;
    font-size: 15px;
  }


  &.over {
    p {
      @include breakpoint(mobileonly) {
        margin-top: 70px;
      }
    }

    a {
      margin-right: 15px;
      padding: 5px;

      &:link {
        background-position-y: -0%;
        background-image: linear-gradient($body-bg 50%, $primary-color 50%);
        @include transition(background 350ms ease);
        background-size: 2px;
        background-size: auto 185%;
      }

      &:hover {
        background-position-y: 100%;
      }
    }
  }

  &.leeruitkomsten {
    h1 {
      margin-bottom: 0;
    }

    .tiles {
      text-align: center;

      @include breakpoint(mobileonly) {
        text-align: left;
        margin-top: 20px;
      }
    }

    .interactive-media {
      .tile {
        background-image: url(../../../src/img/thumbnails/interactive-media.jpg);
      }
    }

    .development {
      .tile {
        background-image: url(../../../src/img/thumbnails/development.jpg);
      }
    }

    .design {
      .tile {
        background-image: url(../../../src/img/thumbnails/design.jpg);
      }
    }

    .research {
      .tile {
        background-image: url(../../../src/img/thumbnails/research.jpg);
      }
    }

    .communication {
      .tile {
        background-image: url(../../../src/img/thumbnails/communication.png);
      }
    }

    .professional-identity {
      .tile {
        background-image: url(../../../src/img/thumbnails/professional-identity.png);
      }
    }

    .col-lg-4 {
      padding: 0;
      margin: 50px auto 0;

      @media (min-width: 992px) {
        flex: 0 0 30%;
      }


      @include breakpoint(mobileonly) {
        text-align: left;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;

        &.interactive-media {
          margin-top: 70px;
        }
      }
    }

    .tile {
      margin-top: 15px;
      background-size: cover;
      @include border-radius(15px);
      height: 30vh;
      @include transition(all .4s ease);
      box-shadow: 0 19px 38px rgba(100, 100, 100, 0.22), 0 15px 12px rgba(100, 100, 100, 0.16);

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 19px 38px rgba(50, 50, 50, 0.30), 0 15px 12px rgba(50, 50, 50, 0.22);
      }

      @include breakpoint(mobileonly) {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        height: 40vh;

        &:hover {
          transform: translateY(0px);
          box-shadow: 0 19px 38px rgba(100, 100, 100, 0.22), 0 15px 12px rgba(100, 100, 100, 0.16);
        }
      }
    }
  }

  &.project-listing {
    h1 {
      margin-bottom: 12vh;
    }

    .project-group {
      margin-bottom: 15vh;
      @extend %flexbox;
      align-items: center;

      .project-description {
        h2 {
          margin-bottom: 30px;
          font-size: calc(25px + 2vw);
        }

        p {
          margin-bottom: 30px;
        }
      }

      .project-image {
        img {
          @include border-radius(15px);
          width: 35vw;
          margin-right: 5vw;
          @include transition(all .4s ease);
          box-shadow: 0 19px 38px rgba(100, 100, 100, 0.22), 0 15px 12px rgba(100, 100, 100, 0.16);
        }
      }
    }

  }

}