// General section
section {
  padding-top: 25vh;
  padding-bottom: 25vh;

  h1 {
    font-size: calc(30px + 3vw);
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    &::before {
      content: "";
      height: 150px;
      width: 150px;
      @include border-radius(50%);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-90%, -90%);
      z-index: -1;
      animation: circle-dash 1s forwards;
      opacity: 0;
    }

    &.violet::before {
      @include gradient(60deg, $violet);
    }

    &.flame::before {
      @include gradient(60deg, $flame);
    }

    &.sky::before {
      @include gradient(60deg, $sky);
    }

    &.title-dev::before {
      @include gradient(60deg, $dev);
    }

    &.title-des::before {
      @include gradient(60deg, $des);
    }

    &.title-res::before {
      @include gradient(60deg, $res);
    }

    &.title-int::before {
      @include gradient(60deg, $int);
    }

    &.title-pro::before {
      @include gradient(60deg, $pro);
    }

    &.title-com::before {
      @include gradient(60deg, $com);
    }

    @keyframes circle-dash {
      100% {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }

  p,
  a {
    line-height: 25px;
    font-size: 15px;
  }


  &.over {
    h1 {
      @include breakpoint(mobileonly) {
        margin-bottom: 70px;
      }
    }
  }

  &.leeruitkomsten {
    h1 {
      margin-bottom: 0;
    }

    .tiles {
      text-align: center;

      @include breakpoint(mobileonly) {
        text-align: left;
        margin-top: 20px;
      }
    }

    .interactive-media {
      .tile {
        @include gradient(60deg, $int);
        //background-image: url(../../../src/img/thumbnails/projects/interactive-media/interactive-media-project-1.jpg);
      }
    }

    .development {
      .tile {
        @include gradient(60deg, $dev);
        //background-image: url(../../../src/img/thumbnails/projects/development/development-project-1.jpg);
      }
    }

    .design {
      .tile {
        @include gradient(60deg, $des);
        //background-image: url(../../../src/img/thumbnails/projects/design/design-project-1.jpg);
      }
    }

    .research {
      .tile {
        @include gradient(60deg, $res);
        //background-image: url(../../../src/img/thumbnails/projects/research/research-project-1.jpg);
      }
    }

    .communication {
      .tile {
        @include gradient(60deg, $com);
        // background-image: url(../../../src/img/thumbnails/projects/communication/communication-project-1.jpg);
      }
    }

    .professional-identity {
      .tile {
        @include gradient(60deg, $pro);
        // background-image: linear-gradient(60deg, rgba(222, 222, 222, 0.4), rgba(0, 0, 0, 0.4)), url(../../../src/img/thumbnails/projects/professional-identity/professional-identity-project-1.jpg);
      }
    }

    .col-lg-4 {
      padding: 0;
      margin: 50px auto 0;

      @media (min-width: 992px) {
        flex: 0 0 30%;
      }


      @include breakpoint(mobileonly) {
        text-align: left;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;

        &.interactive-media {
          margin-top: 70px;
        }
      }
    }

    .tile {
      margin-top: 15px;
      background-size: cover;
      @include border-radius(15px);
      height: 30vh;
      @include transition(all .4s ease);
      box-shadow: 0 19px 38px rgba(100, 100, 100, 0.22), 0 15px 12px rgba(100, 100, 100, 0.16);

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 19px 38px rgba(50, 50, 50, 0.30), 0 15px 12px rgba(50, 50, 50, 0.22);
        filter: grayscale(100%);
      }

      @include breakpoint(mobileonly) {
        max-width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 20px;
        max-height: calc(70px + 20vh);

        &:hover {
          transform: translateY(0px);
          box-shadow: 0 19px 38px rgba(100, 100, 100, 0.22), 0 15px 12px rgba(100, 100, 100, 0.16);
        }
      }
    }
  }

  &.project-listing {
    h1 {
      margin-bottom: 12vh;
    }

    .project-group {
      margin-bottom: 15vh;
      @extend %flexbox;
      align-items: center;

      .project-description {
        @include breakpoint(mobileonly) {
          flex: 100%;
        }

        h2 {
          margin-bottom: 30px;
          font-size: calc(25px + 1.5vw);
        }

        p {
          margin-bottom: 30px;
        }
      }

      .project-image {
        img {
          @include border-radius(15px);
          width: 35vw;
          margin-right: 5vw;
          @include transition(all .4s ease);
          box-shadow: 0 19px 38px rgba(100, 100, 100, 0.22), 0 15px 12px rgba(100, 100, 100, 0.16);

          &:hover {
            filter: grayscale(100%);
          }

          @include breakpoint(mobileonly) {
            margin-right: 0;
            width: 90%;
            max-height: calc(70px + 20vh);
            margin-bottom: 20px;
          }
        }
      }
    }

  }

}