// Buttons
.btn {
    padding: 20px 25px;
    text-align: center;
    display: inline-block;
    color: white;
    font-family: $font-buttons;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    @include border-radius(35px);
    @include transition(all .3s ease);

    &:hover {
        filter: grayscale(0%);
        transform: translateY(-6px);
        box-shadow: 0 9px 19px rgba(100, 100, 100, 0.22), 0 7px 6px rgba(100, 100, 100, 0.16);
    }
}

.btn--purple {
    @include gradient(60deg, $violet);
}

.btn--red {
    @include gradient(60deg, $flame);
}

.btn--dev {
    @include gradient(60deg, $dev);
}

.btn--pro {
    @include gradient(60deg, $pro);
}

.btn--des {
    @include gradient(60deg, $des);
}

.btn--com {
    @include gradient(60deg, $com);
}

.btn--res {
    @include gradient(60deg, $res);
}

.btn--int {
    @include gradient(60deg, $int);
    color: black;
}