// Custom Cursor
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.cursor-dot-outline {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(#bbb, 0.5);
}