// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: bold;
    color: $pure-black;
}

p {
    font-family: $font-paragraph;
    color: $soft-black;
}

span {
    font-family: $font-paragraph;
}

a {
    text-decoration: none;
    font-family: $font-paragraph;
    color: $soft-black;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}