body {
    padding: 0;
    margin: 0;
}

.preloader-container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-container svg {
    width: 30%;
    height: 30%;
}