// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
// Fonts
$font-heading: Poppins,
sans-serif;
$font-paragraph: Poppins,
sans-serif;
$font-buttons: Poppins,
sans-serif;
$font-nav: Poppins,
sans-serif;
// Whites
$off-white: #F1F1F1;
$pure-white: #ffffff;
// Blacks
$soft-black: #393939;
$pure-black: #000;
// Colors
$purple:#6767FF;
$red:#FF0045;
$blue:#60a7f9;
// Variables
$body-bg: $off-white;
$primary-color: $purple;
$secondary-color: $red;
$tertiary-color:$blue;
// Gradients
$violet: $purple,
#c1c1ff;
$flame: $red,
#ff97b3;
$sky: $blue,
#add3ff;